.logo-container {
  $font-size: 30px;

  font-size: $font-size;
  font-weight: 600;
  margin: 30px;

  color: #f44336;

  display: flex;
  cursor: default;
  user-select: none;

  .logo {
    color: black;
    width: $font-size;
    height: $font-size;

    background-size: 100% 100%;
    background-repeat: no-repeat;

    margin-right: 10px;
  }
}